<%= form_with model: @book, class: 'book-form' do |f| %>
  <p>Please fill out this book's information</p>

  <div>
    <%= f.label :title, "Please enter a title" %>
    <%= f.text_field :title, placeholder: "A Book" %>
  </div>

  <div>
    <%= f.label :author %>
    <%= f.select :author_id, Author.all.map{ |auth| [auth.name, auth.id] } %>
  </div>

  <%= f.submit button_text %>

<% end %>