<h1>Welcome to the Book List</h1>

<p><%= "I am shouting this sentence".upcase %></p>

<p>There are <%= @books.length %> books available to checkout</p>

<section class="featured-book">
  <% if @featured_book %>
    <p>
      Featured book: <%= @featured_book.title %> by <%= @featured_book.author.name %>
    </p>
  <% else %>
    <p>No featured book today :(</p>
  <% end %>
</section>

<ul>
  <% @books.each do |book| %>
    <li>
      <strong>
        <%= link_to book.title, book_path(book) %>
      </strong>
      by <%= book.author.name %>
      <%= link_to "Edit", edit_book_path(book) %>
      <%= link_to "Delete", book_path(book), method: :delete, data: { confirm: "Really really?" } %>
    </li>
  <% end %>
</ul>