<!DOCTYPE html>
<html>
  <head>
    <title>Sockets Book Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Sockets Book Club</h1>
      <nav>
        <ul>
          <li class="nav-icon">
            <%= link_to(
              image_tag("book_icon.png", alt: "home", class: "icon"),
              root_path
            ) %>
          </li>
          <li>
            <%= link_to "Book List", books_path %>
          </li>
          <li>
            <%= link_to "Add a Book", new_book_path %>
          </li>
          <li>
            <%= link_to "Author List", authors_path %>
          </li>
          <li>
            <%= link_to "Add an Author", new_author_path %>
          </li>
          <li>
            <%= link_to "Log In", login_path %>
          </li>
          <li>
            <%= link_to "Log Out", logout_path, method: :post %>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <% alert_type = flash[:status] == :error ? :danger : flash[:status] %>
      <section class="flash alert alert-<%= alert_type %>">
        <%= flash[:message] %>
      </section>
      <%= yield %>
    </main>

    <footer>
      &copy; Ada Developers Academy 2019
    </footer>
  </body>
</html>
