<!DOCTYPE html>
<html>
  <head>
    <title>Sockets Book Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Sockets Book Club</h1>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      &copy; Ada Developers Academy 2019
    </footer>
  </body>
</html>
